body
{
    background:#000;
    font-family:verdana;
    text-align: center;
}
.logo
{
    padding:10px 1.2%;
    font-size:30px;
    color:#fff;
    position:absolute;
}
.ui-tabs .ui-tabs-panel {
	background-image:url('background.jpg');
	background-size: 100% 100%;
	border: 2px solid #999;
}
#privtitle
{
    color:#D4525C;
}
.subtitle
{
    color:#B8AE98;
    font-size:14px;
	font-weight:lighter;
}
.tabContainer
{
    width:98%;
    height:560px;			
    margin: 0 auto;
}        
#tabs
{
    top: 10px;
}
#userSearchDiv
{
    position:relative;
    top:220px;
    margin:0 auto;
    width:380px;
    background:#fff;
    border:2px solid #ccc;
    text-align:left;
	padding:0px 0 0 20px;
}
#searchBox
{
    margin:20px 20px 20px 0px;
	width: 260px;
}
#searchButton {
    background-image:url('keybutton.jpg');
    background-size: 100% 100%;
    margin:20px 0px;
    width:54px;
    height:32px;
}
#searchButton:hover{
    cursor:hand;
    opacity: .7;			
}
#currentUser {
	color:#fff;
	position: absolute;
	right: 2.5%;
	text-align:left;
	top:20px;
}		
#details, #browseTable{
	text-align:left;	
	background:#56514D;
	height:520px;
	margin-top:20px;
	overflow:hidden;
}
#details{
	width:20%;
	float:left;
	margin-left:20px;
}
#details .titlebar{
	color: white;
}
#browseTable {	
	width:70%;
	float: right;
	margin-right: 20px;
}
#breadcrumbList, #itemCount {
	margin:4px 8px;
	float:left;
}
.selectedBreadcrumb{
	color: #fff;
}
.breadcrumb:hover {
	color:#eee;
}

#browseFilter
{
	float:right;
	font-size:14px;
	margin:4px 8px;
	width:160px;
}
.tableContainer{
	height:460px;
	overflow:auto;
	width:100%;
	margin:0px 2px;
	background:#fff;
}
#detailsContainer{

	overflow:auto;
	background:#fff;
	margin:0px 2px;
	height:488px;
	font-size:12px;
}
.datatable
{
    font-family:verdana;
	background:#fff;
	width:100%;
}
.datatable thead
{
	text-align:left;
	background:#fff;
	font-size
}
.titleBar
{
	height:30px;
}
.datatable td
{
	font-size:12px;
	padding-left:8px;
	border-top: 1px dotted #efefef;
	border-bottom: 1px solid #fff;
}
.datatable td a {
	color:#56514D;
	text-decoration:none
}
.datatable .subtitle {
	color:#D4525C;
	margin-left: 12px;
}
.hoverRow td
{
	background:#f4f4f4;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.datatable .selectedRow td a {
	color:#fff;
}
#userSearchDiv {
	-webkit-box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, .5);
	box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, .5);
}
.selectedRow td
{
    border-top:1px solid #000;
	border-bottom:1px solid #000;
	background:#D4525C;
	color:#fff;
	text-shadow: 1px 1px 2px #000000;
}
#tableTitle{
	float:left;
	color: #fff;
	padding: 8px;
	font-size: 14px;
}
.roleClass {
	width:15px;
	height:10px;
	background:#fff;
	display:block;
	border: 1px solid #56514D;
	padding-left:2px;
}
.roleClass {
	border: 1px solid #ffffff;
}
.None{
	background:#D7545A;
}
.Guest{
	background:#F29D28;
}
.Reader{
	background:#F1F752;
}
.Contributor{
	background:#ABED83;
}
.WebDesigner{
	background:#ABED83;
}
.Administrator {
	background:#17B637;
}
.Custom{
	background:#BF8DFF;
}