body
{
    background:#000;
    font-family:verdana;
    text-align: center;
}
.logo
{
    padding:10px 1.2%;
    font-size:30px;
    color:#fff;
    position:absolute;
}
.ui-tabs .ui-tabs-panel {
	background-image:url('background.jpg');
	background-size: 100% 100%;
	border: 2px solid #999;
}
#privtitle
{
    color:#D4525C;
}
.subtitle
{
    color:#B8AE98;
    font-size:14px;
	font-weight:lighter;
}
.tabContainer
{
    width:98%;
    height:560px;			
    margin: 0 auto;
}        
#tabs
{
    top: 10px;
}
#usersearchdiv {
position: relative;
top: 200px;
margin: 0 auto;
width: 480px;
background: white;
border: 3px solid #D4525C;
text-align: left;
-webkit-box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, .5);
-moz-box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, .5);
box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, .5);
}
#searchBox
{
margin: 0px 60px 30px 60px;
width: 360px;
font-size: 25px;
padding: 6px;
height:48px;
}

#currentUser {
	color:#fff;
	position: absolute;
	right: 2.5%;
	text-align:left;
	top:20px;
}		
#details, #browseTable{
	text-align:left;	
	background:#56514D;
	height:520px;
	margin-top:20px;
	overflow:hidden;
}
#details{
	width:20%;
	float:left;
	margin-left:20px;
}
#details .titlebar{
	color: white;
}
#browseTable {	
	width:70%;
	float: right;
	margin-right: 20px;
}
#breadcrumbList, #itemCount {
	position: relative;
	top: 6px;
	left: 6px;
}
.selectedBreadcrumb{
	color: #fff;
}
.breadcrumb:hover {
	color:#eee;
}

#browseFilter
{
	float:right;
	font-size:14px;
	margin:4px 8px;
	width:160px;
}
.tableContainer{
	height:460px;
	overflow:auto;
	width:100%;
	margin:0px 2px;
	background:#fff;
}
#detailsContainer{

	overflow:auto;
	background:#fff;
	margin:0px 2px;
	height:488px;
	font-size:12px;
}
.datatable
{
    font-family:verdana;
	background:#fff;
	width:100%;
}
.datatable thead
{
	text-align:left;
	background:#fff;
}
.datatable th {

}

.titleBar
{
	height:30px;
	background: #56514D;
	border: 2px solid #56514D;
	border-bottom: none;
	text-shadow: 1px 1px 2px #000000;
}
.datatable td
{
	font-size:12px;
	padding-left:8px;
	position:relative;
}
.datatable td a {
	color:#56514D;
	text-decoration:none;
	padding:6px;
}
.datatable td a.url{

}
.datatable td a.titleLink {

}
.datatable td a:hover {
	text-decoration:underline
}
.datatable td.iconCell {
	width:22px;
}
.datatable .subtitle {
	color:#D4525C;
	margin-left: 12px;

}

.odd td {
	background:#fff;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

.even td {
	background:#fff;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

.hoverRow td
{
	background:#fafafa;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.selectedRow td
{
    border-top:2px solid #D4525C;
	border-bottom:2px solid #D4525C;
	background:#fefafa;
}
#tableTitle{
	float:left;
	color: #fff;
	padding: 8px;
	font-size: 14px;
}
.roleImage {
	width:20px;
	height:20px;
}
.selectedRow .roleClass {
	border: 1px solid #ffffff;
}
.basePermissions {
	background:#e3e3e3;
	line-height:3;
}
.basePermission {
	margin: 8px;
}
.loading {
background:url('loading.gif') no-repeat right center;
}
.search {
background:url('search.jpg') no-repeat right center;
}
#userlabel {
width: 80px;
height: 26px;
background: #D4525C;
color: white;
font-size: 20px;
text-align: center;
font-weight:light;
margin: 30px 60px 10px;
padding:4px;
}
.menu {
width: 124px;
background: #fefafa;
color: white;
padding: 4px;
position: absolute;
border: 2px solid #D4525C;
z-index: 100;
bottom: -46px;
right: 26px;
border-top: none;
height: 36px;
}
.menu .subtitle {
	font-size:11px;
}